.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
    margin-top: -20px;
    font-size: calc(15px + 1.5vh);
    padding-bottom: 20px;
}

h1 {
    font-family: COMIC SANS MS;
    font-size: calc(20px + 1.5vh);
    text-transform: uppercase;
    background: linear-gradient(45deg, #800202 15%, #cc1111 56%, #fc6060);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8B0000;
    display: table;
    
}

.logo {
    width: 130px;
    min-width: 4%;
    max-width: 12%;
}

header {
background-color: Snow; 
}

.head {
    display: flex;
    align-items:flex-start;
}


    
img {
    width:10% ;
    height: auto }

.artic1 {
    width: auto;
    height: auto;
    border: 2px solid #8B0000;
    margin-top: 15px;
    background: rgb(255, 255, 255);
    padding: 10px;
    min-width: 100px;
    margin-right: 5%;
}

.main1 {
    display: flex;
    justify-content: space-around;
    font-size: calc(6px + 1.5vh);
    width: 90%;
    margin-left: 3%;
    padding: 2%;
    background-color: Snow;
    margin-top: 2%;
}

.main2 {
    font-size: calc(6px + 1.5vh);
    width: 90%;
    margin-left: 3%;
    padding: 2%;
    background-color: Snow;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.artic2 {
    width: 20%;
    height: auto;
    border: 2px solid #8B0000;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    padding: 0 6px 26px 26px;
    min-width: 190px;
    font-size: calc(6px + 1.5vh);
    min-width: 400px;
}

input {
    height: 5%;
    min-height: 50px;
    max-height: 500px;
    font-size: calc(2px + 1.5vh);
    max-width: 50%;
}

footer {
    background-color: Snow;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

h2 {
    font-family: COMIC SANS MS;
    font-size: calc(10px + 1.5vh);
    text-transform: uppercase;
    background: linear-gradient(45deg, #800202 15%, #cc1111 56%, #fc6060);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8B0000;
    display: table;
}

.f1 {
    margin-left: 3%;
}

html {
    background: #b38989;
}

.main3 {
    display: flex;
    justify-content: flex-start;
}

.but {
    width: 30%;
    margin-left: 1%;
}


